<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">

  <title>{{title}}</title>
</head>
<body>
    <h1><span class="badge badge-dark" [style.display]="display">Application géniale</span></h1>
<br>
<button (click)="ExecuteWS()">Init Liste</button>
<div>
  <p *ngFor="let post of posts">
    {{post.name}}
  </p>

  <app-list test="{{test}}"></app-list>

</div>
</body>
</html>